Source: ros-hydro-sr-gui-controller-tuner
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-pr2-mechanism-msgs, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-sr-robot-msgs, ros-hydro-sr-visualization-icons
Homepage: http://ros.org/wiki/sr_gui_controller_tuner
Standards-Version: 3.9.2

Package: ros-hydro-sr-gui-controller-tuner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-mechanism-msgs, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-sr-robot-msgs, ros-hydro-sr-visualization-icons
Description: A GUI plugin for tuning the sr_mechanism_controllers
