Source: ros-hydro-sr-gui-hand-calibration
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-sr-robot-lib, ros-hydro-sr-robot-msgs
Homepage: http://ros.org/wiki/sr_gui_hand_calibration
Standards-Version: 3.9.2

Package: ros-hydro-sr-gui-hand-calibration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-sr-robot-lib, ros-hydro-sr-robot-msgs
Description: This is a rosgui plugin for calibrating the Shadow EtherCAT Hand.
